body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #gameContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  #gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0px;
    margin-bottom: 20px;
  }
  
  .cell {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .winning-cell {
    background-color:yellow
    ;
  }
  
  #gameInfo {
    margin-top: 10px;
  }
  
  #player1Name {
    margin-right: 10px;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 50px;
  }
  
  #player2Name {
    padding: 15px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 3px solid #ccc;
    border-radius: 50px;
  }
  
  #startGame {
    margin-bottom: 10px;
  }
  
  #playerNames button,
  #reset {
    padding: 18px 25px;
    font-size: 95%;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  